<link rel="stylesheet" href="{{ 'faq_list.css' | asset_url }}">

<div class="wrapper_faq">
  <div class="question_contain">
    <span>Q</span>
    <p>{{ section.settings.question_content }}</p>
    <span>&#10095;</span>
  </div>
  <div class="answer_contain">
    <span>A</span>
    <p>{{ section.settings.answer_content }}</p>
  </div>
</div>
