<link rel="stylesheet" href="{{ 'section-main.css' | asset_url }}">

<div class="section_first_contain">
  <div class="text_contain">
    <h1>月額¥<span>12,298</span>〜マーケターが目指せます</h1>
  </div>
  <div class="btn_contain">
    <a href="{{ section.settings.btn_url }}">
      <img src="{{ section.settings.icon |  image_url }}" alt="Icon">
      {{ section.settings.btn_label }}
    </a>
  </div>
</div>

<div>

</div>

{% schema %}
{
  "name": "SectionMain",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "second_content",
      "label": "Second Content"
    },
    {
      
    }
  ],
  "presets": [
    {
      "name": "SectionMain"
    }
  ]
}
{% endschema %}