<link rel="stylesheet" href="{{ 'section-lp-faqtitle.css' | asset_url }}">

<div class="section_faq_title_contain">
  <div class="wrapper_faq_title">
    <div class="text_contain">
        <h2>よくあるご質問</h2>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "FAQTitleSection",
  "tag": "section",
  "settings": [
  ],
  "presets": [
    {
      "name": "FAQTitleSection"
    }
  ]
}
{% endschema %}