<link rel="stylesheet" href="{{ 'section-lp-white.css' | asset_url }}">

<div class="section_white_contain">
  <div class="wrapper_white"></div>
</div>

{% schema %}
{
  "name": "SpaceSection",
  "tag": "section",
  "settings": [
    
  ],
  "presets": [
    {
      "name": "SpaceSection"
    }
  ]
}
{% endschema %}