@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&display=swap');

@font-face {
  font-family: 'FuturaCyrillicLight';
  src: url('FuturaCyrillicLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaCyrillicMedium';
  src: url('FuturaCyrillicMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaCyrillicBold';
  src: url('FuturaCyrillicBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}