.section_first_contain {
  background-color: #1F677F;
  padding: var(--p-40);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_first_contain>.text_contain>h1 {
  font-size: var(--p-60);
  font-family: 'Noto Sans JP';
  font-weight: 700;
  color: #ffffff;
  line-height: var(--p-90);
  letter-spacing: 0;
  text-align: center;
}

.section_first_contain>.text_contain>h1>span {
  font-size: var(--p-70);
  font-family: 'DIN-2014_Bold';
  font-weight: 700;
  color: #ffffff;
  line-height: var(--p-90);
  letter-spacing: 0;
}

.section_first_contain>.btn_contain {
  display: inline-flex;
  justify-content: center;
  margin: var(--p-20) auto 0;
  border-radius: 4px;
}

.section_first_contain>.btn_contain>a {
  display: inline-flex;
  font-size: var(--p-24);
  font-family: 'NOTO SANS JP';
  font-weight: 700;
  line-height: var(--p-26);
  letter-spacing: 0;
  align-items: center;
  color: #1F677F;
  padding: var(--p-32) var(--p-70);
  background-color: #ffffff;
  cursor: pointer;
}

.section_first_contain>.btn_contain>a:hover {  
  background-color: #cdcdcd;
}

.section_first_contain>.btn_contain>a>img {
  height: var(--p-28);
  margin-right: 10px;
}

@media (max-width: 575px) {
  .section_first_contain {
    padding: var(--p575-30);
  }
  
  .section_first_contain>.text_contain>h1 {
    font-size: var(--p575-22);
    line-height: var(--p575-30);
  }
  
  .section_first_contain>.text_contain>h1>span {
    font-size: var(--p575-22);
    line-height: var(--p575-30);
  }
  
  .section_first_contain>.btn_contain {
    margin: var(--p575-16) auto 0;
  }
  
  .section_first_contain>.btn_contain>a {
    font-size: var(--p575-22);
    line-height: var(--p575-40);
  }
  
  .section_first_contain>.btn_contain>a>img {
    height: var(--p575-28);
  }
}

.section_second_contain {
  width: 1400px;
  margin: 120px auto 0;
  padding: 0 100px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_second_contain>.text_contain {
  margin-bottom: 40px;
}

.section_second_contain>.text_contain>h2 {
  font-family: 'Noto Sans JP';
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
}

.section_second_contain>.block_contain {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.section_second_contain>.block_contain>div {
  text-align: center;
  background-color: #E7F1F4;
  border-radius: 10px;
}
  
.section_second_contain>.block_contain>.first_block {  
  margin: 15px 20px 15px 0;
}

.section_second_contain>.block_contain>.second_block {  
  margin: 15px 10px 15px;
}

.section_second_contain>.block_contain>.third_block {  
  margin: 15px 0 15px 20px;
}

.section_second_contain>.block_contain>div>img {
  margin-top: 30px;
  height: 40px;
}

.section_second_contain>.block_contain>div>p {
  margin: 20px 50px;
  font-family: 'Noto Sans JP';
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0;
  text-align: center;
}

@media (max-width: 1400px) {
  .section_second_contain {
    width: 100%;
    margin: var(--p1400-120) auto 0;
    padding: 0 var(--p1400-100);  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .section_second_contain>.text_contain {
    margin-bottom: var(--p1400-40);
  }
  
  .section_second_contain>.text_contain>h2 {
    font-family: 'Noto Sans JP';
    font-size: var(--p1400-50);
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
  }
  
  .section_second_contain>.block_contain {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
  
  .section_second_contain>.block_contain>div {
    text-align: center;
    background-color: #E7F1F4;
    border-radius: 10px;
  }
    
  .section_second_contain>.block_contain>.first_block {  
    margin: 15px 20px 15px 0;
  }
  
  .section_second_contain>.block_contain>.second_block {  
    margin: 15px 10px 15px;
  }
  
  .section_second_contain>.block_contain>.third_block {  
    margin: 15px 0 15px 20px;
  }
  
  .section_second_contain>.block_contain>div>img {
    margin-top: var(--p1400-30);
    height: var(--p1400-40);
  }
  
  .section_second_contain>.block_contain>div>p {
    margin: var(--p1400-20) var(--p1400-50);
    font-family: 'Noto Sans JP';
    font-size: var(--p1400-24);
    font-weight: 700;
    line-height: var(--p1400-36);
    letter-spacing: 0;
    text-align: center;
  }
}

@media (max-width: 575px) {
  .section_second_contain {
    margin: var(--p575-60) var(--p575-28) 0 var(--p575-28);
  }
  
  .section_second_contain>.text_contain {
    margin-bottom: var(--p575-16);
  }
  
  .section_second_contain>.text_contain>h2 {
    font-size: var(--p575-24);
  }
  
  .section_second_contain>.block_contain>div>img {
    margin-top: var(--p575-16);
    height: var(--p575-36);
  }
  
  .section_second_contain>.block_contain>.first_block {  
    margin: 10px 14px 10px 0;
  }
  
  .section_second_contain>.block_contain>.second_block {  
    margin: 10px 6px 10px;
  }
  
  .section_second_contain>.block_contain>.third_block {  
    margin: 10px 0 10px 14px;
  }
  
  .section_second_contain>.block_contain>div>p {
    margin: var(--p575-16);
    font-size: var(--p575-18);
    line-height: var(--p575-28);
    text-align: left;
  }
}