.image_banner {
  width: 100vw;
  height: var(--p-1012);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.text_banner {
  position: absolute;
  top: 350px;
  left: var(--p-100);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: var(--p-860);
  height: var(--p-540);
}

.text_banner>.text_contain {
  font-size: var(--p-50);
  line-height: var(--p-80);
  letter-spacing: 0;
  font-family: "Noto Sans JP";
  font-weight: 700;
  color: #1F677F;
  margin: var(--p-80) var(--p-100) 0 var(--p-100);
}

.text_banner>.text_contain>span {  
  font-size: var(--p-90);
  line-height: var(--p-80);
  letter-spacing: 0;
  font-family: "FuturaCyrillicMedium";
  font-weight: 700;
  color: #1F677F;
}

.button_banner {
  margin-left: var(--p-100);
  margin-top: var(--p-30);
  padding: var(--p-32) var(--p-70);
  background-color: #1F677F;
  display: inline-flex;
  border-radius: 4px;
  font-size: 24px;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  line-height: 1;
  cursor: pointer;
}

.button_banner:hover {
  background-color: #174f62;
}

.button_banner>img {  
  height: 24px;
  margin-right: 10px;
}

.sp_br {
  display: none;
}

@media (max-width: 1240px) {
  .text_banner {
    top: 280px;
  }

  .button_banner {
    font-size: 20px;
  }

  .button_banner>img {
    height: 18px;
  }
}

@media (max-width: 990px) {
  .text_banner {
    top: 230px;
  }

  .button_banner {
    font-size: 18px;
  }

  .button_banner>img {
    height: 15px;
  }
}

@media (max-width: 750px) {
  .text_banner {
    top: 170px;
  }

  .button_banner {
    font-size: 16px;
  }

  .button_banner>img {
    height: 14px;
  }
}

@media (max-width: 575px) {    
  .image_banner {
    width: 100vw;
    height: 100vw;
  }

  .text_banner {
    top: var(--p575-210);
    width: var(--p575-330);
    height: var(--p575-185);
  }

  .text_banner>.text_contain {
    font-size: var(--p575-30);
    line-height: var(--p575-42);
    margin: 0;
    text-shadow: 0px 0px 4px #ffffff;
  }

  .text_banner>.text_contain>span {  
    font-size: var(--p575-30);
    line-height: var(--p575-42);
  }

  .sp_br {
    display: block;
  }

  .button_banner {
    font-size: var(--p575-20);
    margin-left: 0;
    margin-top: var(--p575-40);
    padding: var(--p575-20) var(--p575-50);
  }

  .button_banner>img {
    height: var(--p575-30);
    margin-right: 10px;
  }
}

@media (max-width: 375px) {
  .text_banner {
    top: var(--p375-155);
    left: var(--p375-18);
  }

  .text_banner>.text_contain {
    font-size: var(--p375-20);
    line-height: var(--p375-30);
    text-shadow: 0px 0px 4px #ffffff;
  }

  .text_banner>.text_contain>span {    
    font-size: var(--p375-20);
    line-height: var(--p375-30);
  }

  .button_banner {
    font-size: var(--p375-14);
    line-height: var(--p375-26);
    margin-top: var(--p375-20);
    padding: var(--p375-10) var(--p375-30);
  }

  .button_banner>img {
    height: var(--p375-20);
  }
}