/*#region section button*/
.section_button_contain {
  background-color: #1F677F;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_button_contain>.text_contain>h1 {
  font-size: 60px;
  font-family: 'Noto Sans JP';
  font-weight: 700;
  color: #ffffff;
  line-height: 90px;
  letter-spacing: 0;
  text-align: center;
}

.section_button_contain>.text_contain>h1>span {
  font-size: 70px;
  font-family: 'DIN-2014_Bold';
  font-weight: 700;
  color: #ffffff;
  line-height: 90px;
  letter-spacing: 0;
}

.section_button_contain>.btn_contain {
  display: inline-flex;
  justify-content: center;
  margin: 20px auto 0;
}

.section_button_contain>.btn_contain>a {
  display: inline-flex;
  font-size: 24px;
  font-family: 'NOTO SANS JP';
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0;
  align-items: center;
  color: #1F677F;
  padding: 32px 70px;
  background-color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.section_button_contain>.btn_contain>a:hover {  
  background-color: #cdcdcd;
}

.section_button_contain>.btn_contain>a>img {
  height: 28px;
  margin-right: 10px;
}

@media (max-width: 1400px) {
  .section_button_contain>.btn_contain>a {
    padding: var(--p1400-32) var(--p1400-70);
  }
}

@media (max-width: 1200px) {
  .section_button_contain>.text_contain>h1 {
    font-size: 50px;
    line-height: 70px;
  }

  .section_button_contain>.text_contain>h1>span {
    font-size: 60px;
    line-height: 80px;
  }

  .section_button_contain>.btn_contain>a {
    font-size: 24px;
    line-height: 26px;
  }

  .section_button_contain>.btn_contain>a>img {
    height: 28px;
    margin-right: 10px;
  }
}

@media (max-width: 990px) {
  .section_button_contain>.text_contain>h1 {
    font-size: 40px;
    line-height: 60px;
  }

  .section_button_contain>.text_contain>h1>span {
    font-size: 46px;
    line-height: 56px;
  }

  .section_button_contain>.btn_contain>a {
    font-size: 22px;
    line-height: 24px;
  }

  .section_button_contain>.btn_contain>a>img {
    height: 26px;
    margin-right: 10px;
  }
}

@media (max-width: 780px) {
  .section_button_contain {
    padding: 40px 20px;
  }

  .section_button_contain>.text_contain>h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .section_button_contain>.text_contain>h1>span {
    font-size: 32px;
    line-height: 40px;
  }

  .section_button_contain>.btn_contain>a {
    font-size: 20px;
    line-height: 22px;
  }

  .section_button_contain>.btn_contain>a>img {
    height: 24px;
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  .section_button_contain {
    padding: var(--p575-30);
  }
  
  .section_button_contain>.btn_contain {
    margin: var(--p575-16) auto 0;
  }
  
  .section_button_contain>.text_contain>h1 {
    font-size: var(--p575-22);
    line-height: var(--p575-30);
  }
  
  .section_button_contain>.text_contain>h1>span {
    font-size: var(--p575-22);
    line-height: var(--p575-30);
  }
  
  .section_button_contain>.btn_contain {
    margin: var(--p575-16) auto 0;
  }
  
  .section_button_contain>.btn_contain>a {
    font-size: var(--p575-22);
    line-height: var(--p575-30);
  }
  
  .section_button_contain>.btn_contain>a>img {
    height: var(--p575-28);
  }
}

@media (max-width: 375px) {  
  .section_button_contain {
    padding: 18px;
  }
  
  .section_button_contain>.btn_contain {
    margin: 10px auto 0;
  }

  .section_button_contain>.text_contain>h1 {
    font-size: 14px;
    line-height: 20px;
  }
  
  .section_button_contain>.text_contain>h1>span {
    font-size: 14px;
    line-height: 20px;
  }
  
  .section_button_contain>.btn_contain>a {
    font-size: 14px;
    line-height: 20px;
  }
  
  .section_button_contain>.btn_contain>a>img {
    height: 16px;
  }
}
/*#endregion section button*/
