/*#region section third*/
.section_third_contain {
  width: 1400px;
  margin: 120px auto 0;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_third_contain>.text_contain {
  margin-bottom: 40px;
}

.section_third_contain>.text_contain>h2 {
  font-family: 'Noto Sans JP';
  font-size: 50px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
}

.section_third_contain>.block_contain>div>.block_text>div {
  display: flex;
  align-items: center;
}

.section_third_contain>.block_contain>div>.block_text>div>h3 {
  font-family: 'Noto Sans JP';
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  margin: 50px 0 30px;
}

.section_third_contain>.block_contain>div>.block_text>div>div {
  font-family: 'FuturaCyrillicMedium';
  font-size: 40px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0;
  color: #1F677F;
  margin-right: 20px; 
}

.block_table th, .block_table td {
  border: 1px solid #cccccc;
  width: 20%;
}

.block_table table {
  width: 100%;
  border: 0px solid #ffffff;
  box-shadow: 0 0 0 0;
  font-family: 'Noto Sans JP';
  font-size: 16px;
  line-height: 26px;
  font-weight: 700;
  letter-spacing: 0;
}

.block_table th {
  color: #ffffff;
  height: 35px;
}

.block_table .th1 {
  border: none;
}

.block_table .th2,
.block_table .th3,
.block_table .th4,
.block_table .th5 {  
  padding: 0;
  border: none;
}

.block_table th>div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block_table .th2>div {  
  background-color: #1F677F;
  margin-top: -10px;
  height: 55px;
}

.block_table .th3>div {
  background-color: #999999;
}

.block_table .th4>div {
  background-color: #666666;
}

.block_table .th5>div {
  background-color: #333333;
}

.block_table .td2,
.block_table .td3,
.block_table .td4,
.block_table .td5 {
  text-align: center;
  padding: 1px;
}

.block_table .td1 {
  height: 66px;
  padding-left: 40px;
}

.block_table .td2 {
  background-color: #E7F1F4;
  font-size: 20px;
  color: #1F677F;
}

.sp_table {
  display: none;
}

.section_third_contain>.block_contain>.second_block>.block_block {
  display: grid;
  grid-template-columns: 50% 50%;
}

.section_third_contain>.block_contain>.second_block>.block_block>div {
  padding: 40px;
  display: flex;
  background-color: #E7F1F4;
  border-radius: 10px;
}

.section_third_contain>.block_contain>.second_block>.block_block>div>div>img {
  height: 50px;
  margin-right: 40px;
}

.section_third_contain>.block_contain>.second_block>.block_block>div>.b_block_text>h4 {
  font-family: 'Noto Sans JP';
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  letter-spacing: 0;
}

.section_third_contain>.block_contain>.second_block>.block_block>div>.b_block_text>p {
  font-family: 'Noto Sans JP';
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 20px;
}

.section_third_contain>.block_contain>.second_block>.block_block>.b_block_first {
  margin-right: 20px;
}

.section_third_contain>.block_contain>.second_block>.block_block>.b_block_second {
  margin-left: 20px;
}

.section_third_contain>.block_contain>.third_block>.block_image {
  text-align: center;
}

.section_third_contain>.block_contain>.third_block>.block_image>img {
  margin-bottom: 120px;
  width: 100%;
}

@media (max-width: 1400px) {
  .section_third_contain {
    width: 100%;
    padding: 0 var(--p1400-100);  
  }

  .section_third_contain>.block_contain>.third_block>.block_image>img {
    margin-bottom: var(--p1400-120);  
  }
}

@media (max-width: 1200px) {
  .section_third_contain {
    margin: 100px auto 0;
  }
  
  .section_third_contain>.text_contain {
    margin-bottom: 30px;
  }
  
  .section_third_contain>.text_contain>h2 {
    font-size: 40px;
  }
  
  .section_third_contain>.block_contain>div>.block_text>div>h3 {
    font-size: 30px;
    margin: var(--p1400-50) 0 var(--p1400-30);
  }
  
  .section_third_contain>.block_contain>div>.block_text>div>div {
    font-size: 36px;
    margin-right: var(--p1400-20); 
  }
}

@media (max-width: 990px) {
  .section_third_contain {
    margin: 80px auto 0;
  }
  
  .section_third_contain>.text_contain {
    margin-bottom: 20px;
  }
  
  .section_third_contain>.text_contain>h2 {
    font-size: 36px;
  }
  
  .section_third_contain>.block_contain>div>.block_text>div>h3 {
    font-size: 26px;
  }
  
  .section_third_contain>.block_contain>div>.block_text>div>div {
    font-size: 32px;
  }
  
  .block_table .td1 {
    padding-left: 20px;
  }  
  
  .section_third_contain>.block_contain>.second_block>.block_block>div>div>img {
    margin-right: 20px;
  }
  
  .section_third_contain>.block_contain>.second_block>.block_block>div>.b_block_text>h4 {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 780px) {
  .section_third_contain {
    margin: 80px auto 0;
  }
  
  .section_third_contain>.text_contain {
    margin-bottom: 0px;
  }
  
  .section_third_contain>.text_contain>h2 {
    font-size: 32px;
  }
  
  .section_third_contain>.block_contain>div>.block_text>div>h3 {
    font-size: 20px;
    margin: 20px 0 20px;
  }
  
  .section_third_contain>.block_contain>div>.block_text>div>div {
    font-size: 24px;
  }
  
  .block_table table {
    font-size: 14px;
    line-height: 20px;
  }
  
  .section_third_contain>.block_contain>.second_block>.block_block>div {
    padding: 20px;
  }
  
  .section_third_contain>.block_contain>.second_block>.block_block>div>div>img {
    margin-right: 10px;
  }
  
  .section_third_contain>.block_contain>.second_block>.block_block>div>.b_block_text>h4 {
    font-size: 18px;
    line-height: 20px;
  }
  
  .section_third_contain>.block_contain>.second_block>.block_block>div>.b_block_text>p {
    font-size: 14px;
    line-height: 22px;
    margin-top: 16px;
  }
}

@media (max-width: 575px) {
  .section_third_contain {
    margin: var(--p575-60) auto 0;
    padding: 0 var(--p575-28);  
  }
  
  .section_third_contain>.text_contain>h2 {
    font-size: 28px;
  }
  
  .section_third_contain>.block_contain>div>.block_text>div>h3 {
    font-size: 18px;
  }
  
  .section_third_contain>.block_contain>div>.block_text>div>div {
    font-size: 22px;
  }
  
  .block_table table {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  
  .block_table .td1 {
    padding: 1px;
  }

  .block_table .td2 {
    font-size: 14px;
  }

  .sp_table{
    display: block;
  }

  .block_table>table>tbody>tr>td>span {
    font-size: 10px;
  }

  .block_table>table>tbody>tr:last-child>.td1 {
    font-size: 14px;
  }
  
  .section_third_contain>.block_contain>.second_block>.block_block>div {
    padding: 10px;
    flex-direction: column;
  }
  
  .section_third_contain>.block_contain>.second_block>.block_block>div>.b_block_text>h4 {
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
  }
  
  .section_third_contain>.block_contain>.second_block>.block_block>div>.b_block_text>p {
    font-size: 12px;
    line-height: 22px;
    margin-top: 16px;
  }
  
  .section_third_contain>.block_contain>.third_block>.block_image>img {
    margin-bottom: var(--p575-60);
  }
}

@media (max-width: 375px) {
  .section_third_contain>.text_contain>h2 {
    font-size: 24px;
  }
}
/*#endregion section third*/

