:root {
  --p-20: 1.042vw; /* 20px */
  --p-24: 1.25vw;  /* 24px */
  --p-26: 1.354vw;  /* 26px */
  --p-28: 1.458vw;  /* 28px */
  --p-30: 1.563vw; /* 30px */
  --p-32: 1.667vw; /* 32px */
  --p-40: 2.083vw; /* 40px */
  --p-42: 2.188vw; /* 42px */
  --p-50: 2.604vw; /* 50px */
  --p-60: 3.125vw; /* 60px */
  --p-70: 3.616vw; /* 70px */
  --p-80: 4.167vw; /* 80px */
  --p-90: 4.688vw; /* 90px */
  --p-100: 5.208vw; /* 100px */
  --p-185: 9.635vw; /* 185px */
  --p-210: 10.938vw; /* 210px */
  --p-330: 17.188vw; /* 330px */
  --p-350: 18.229vw; /* 350px */
  --p-540: 28.125vw; /* 540px */
  --p-860: 44.792vw; /* 860px */
  --p-1920: 100vw; /* 1920px */
  --p-1012: 52.708vw; /* 1012px */
}

@media (max-width: 575px) {    
  :root {
    --p575-16: 2.782vw; /* 16px */
    --p575-20: 3.478vw; /* 20px */
    --p575-22: 3.826vw; /* 22px */
    --p575-28: 4.869vw; /* 28px */
    --p575-30: 5.217vw; /* 30px */
    --p575-40: 6.956vw; /* 40px */
    --p575-42: 7.304vw; /* 42px */
    --p575-50: 8.696vw; /* 50px */
    --p575-108: 18.782vw; /* 108px */
    --p575-162: 28.174vw; /* 162px */
    --p575-185: 32.174vw; /* 185px */
    --p575-210: 36.522vw; /* 210px */
    --p575-330: 57.391vw; /* 330px */
  }
}

@media (max-width: 375px) {
  :root {
    --p375-10: 2.667vw; /* 10px */
    --p375-14: 3.733vw; /* 14px */
    --p375-18: 4.8vw; /* 18px */
    --p375-20: 5.333vw; /* 20px */
    --p375-26: 6.933vw; /* 26px */
    --p375-30: 8vw; /* 30px */
    --p375-155: 41.333vw; /* 185px */
  }
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-y: hidden;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

a:hover,
a:focus,
a:active {
  outline: none;
  text-decoration: none;
}

input {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

input:hover,
input:focus,
input:active {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #333333;
}

input::-moz-placeholder {
  color: #333333;
}

input:-ms-input-placeholder {
  color: #333333;
}

input:-moz-placeholder {
  color: #333333;
}

textarea::-webkit-input-placeholder {
  color: #333333;
}

textarea::-moz-placeholder {
  color: #333333;
}

textarea:-ms-input-placeholder {
  color: #333333;
}

textarea:-moz-placeholder {
  color: #333333;
}

button:focus {
  outline: 0;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style-type: none;
}

img {
  border: 0px;
}